@import 'varibles';
#banner{
    background-image : url("..images/banner.jpg") center/cover no-repeat;

.row{
    min-height: 60vh;

}}
img{
    background: center/cover no-repeat;
}
.categories_text{
    position: absolute;
    
}
.banner-content{
    margin-left: 10px;
    margin-top: 40px;
}
.banner-content h2{
    font-size: 5vw;
    font-family:  $style1;
 
}
.banner-content span{
    font-size: 28px;
    font-family:  $style;

}


.btn:not(.nav-btns button){
    
    color: $black;
    padding: 10px 28px;
    font-family:  $style1;
    border: 1px solid $black;
}